body{
    font-family: 'Fjalla One', sans-serif;
}
#nav a{
    color: black;
    float: right;
    text-decoration: none;
    padding: 15px 10px;
    font-size: 20px;
}
section{
    height: 750px;
}
#dev{
    background-color: honeydew;
}
#pro{
    background-color: khaki;
}
.good{
    width: 40%;
    margin: 5%;
    float: left;
}
.bad{
    padding-top: 50px;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 30px;
    background-color: rgb(192, 90, 31);
    color: cornsilk;
}
.good img{
    width: 100%;
    margin: 0;
    padding-top: 0px;
}
.name{
    font-weight: 900;
    font-size: 50px;
}
#color{
    color: rgb(184, 75, 11);
}
#cool{
    color: darkblue;
}
h3{
    font-size: 25px;
    color: darkblue;
}
h2{
    font-size: 25px;
    color: darkslateblue;
    font-weight: 700;
}
#kit{
    color: firebrick;
}
#cat{
    color: orange;
}
.dog{
    color: royalblue;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
.new{
    width: 29%;
    margin: 2%;
    float: left;
    box-shadow: 10px 10px 5px rgb(49, 8, 88);
}
.new img{
    width: 100%;
    
}
#back{
    background-color: gray;
}
.hot{
    font-size: 20px;
    color: sandybrown;
    font-weight: 400;
}
#stay{

    font-size: 20px;
    color: rgb(99, 64, 19);
    text-align: center;
}
#hello{
    font-size: 30px;
    color: rgb(46, 51, 51);
    font-weight: 500;
    text-align: center;
}
#nice{
    margin: 0;
    padding-top: 100px;
    padding-left: 30px;
    
}
#icon{
    margin: 0;
    padding-left: 600px;
    padding-bottom: 10px;
}
#icon img{
    height: 30px;
    width: 30px;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 150px;
    
}
footer{
    text-decoration: underline;
    text-align: center;
    font-size: 10px;
}